/*
#ODODOD
#F2F2F2
#7ABFBF
rgba(122, 191, 191, .5)
#EB5428
*/

* {
    background-color: rgba(122, 191, 191, .5);
}

body {
    background-color: #f2f2f2;
    min-width: 414px;
    max-width: 85%;
    margin: 0 auto;

}

@media screen and (min-width: 700px) {
    body {
        width: 85%;
    }
    
}